DISCORD_TOKEN=your_discord_bot_token
CLIENT_ID=your_discord_application_id
GUILD_ID=your_discord_server_id
OWNER_ID=your_discord_user_id
THINKLINK_USER_ID=optional_user_id_for_presence_tracking
WRAPPED_PAGE_URL=https://thinklinkyt.github.io/ThinkLink-Website/wrapped.html
WRAPPED_API_URL=optional_google_apps_script_web_app_url
WRAPPED_API_KEY=optional_private_shared_secret_for_apps_script
